version: "3.7"
services:
  front:
    container_name: front
    build:
      context: ./front
      dockerfile: Dockerfile
    environment:
      - HOST=0.0.0.0
    ports:
      - 5002:3000
    depends_on:
      - "api"
  admin:
    container_name: admin
    build:
      context: ./admin
      dockerfile: Dockerfile
    ports:
      - 5001:4000
    depends_on:
      - 'api'
  api:
    container_name: api
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 5000:3000
    depends_on:
      - "mongo"
  nginx:
    container_name: nginx
    image: nginx:1.19
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - front
  mongo:
    image: mongo:4.2.5 
    restart: always
    volumes:
      - ./mongo:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
